@model List<urunsatis.Models.Category>

@{
    ViewData["Title"] = "Kategoriler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <div class="row mb-3">
        <div class="col-6">
            <h2 class="text-primary">Kategori Listesi</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Add" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Yeni Kategori Oluştur
            </a>
        </div>
    </div>

    <div class="card shadow-sm">
        <div class="card-body p-0">
            <table class="table table-bordered table-striped m-0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Kategori Adı (Name)</th>
                        <th>Açıklama</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model)
                    {
                        <tr>
                            <td>@obj.Id</td>
                            <td>@obj.Name</td>
                            <td>@obj.Description</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-warning btn-sm mx-1">
                                        <i class="bi bi-pencil-square"></i> Düzenle
                                    </a>
                                    <a asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger btn-sm mx-1">
                                        <i class="bi bi-trash-fill"></i> Sil
                                    </a>
                                 
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>